*.name
.idea/configcenter.iml
.idea/copyright/profiles_settings.xml
*.xml
src/scene_server/admin_server/admin_server
src/scene_server/topo_server/topo_server
src/web_server/web_server
src/api_server/api_server
src/scene_server/host_server/host_server
src/source_controller/hostcontroller/hostcontroller
src/source_controller/hostcontroller/host.go
src/scene_server/proc_server/proc_server
src/scene_server/host_server/cmdb_hostserver
src/source_controller/hostcontroller/cmdb_hostcontroller
src/source_controller/objectcontroller/objectcontroller
src/src.exe