.DS_Store
node_modules/
dist/
PSD/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
config/index.js
index.dev.html

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
