@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kq3tr1');
  src:  url('fonts/icomoon.eot?kq3tr1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kq3tr1') format('truetype'),
    url('fonts/icomoon.woff?kq3tr1') format('woff'),
    url('fonts/icomoon.svg?kq3tr1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cc-activeMQ:before {
  content: "\e900";
}
.icon-cc-android:before {
  content: "\e901";
}
.icon-cc-angle-left:before {
  content: "\e902";
}
.icon-cc-angle-right:before {
  content: "\e903";
}
.icon-cc-apache:before {
  content: "\e904";
}
.icon-cc-apple:before {
  content: "\e905";
}
.icon-cc-architecture:before {
  content: "\e906";
}
.icon-cc-arrow:before {
  content: "\e907";
}
.icon-cc-attribute:before {
  content: "\e908";
}
.icon-cc-backstage:before {
  content: "\e909";
}
.icon-cc-backward:before {
  content: "\e90a";
}
.icon-cc-balance:before {
  content: "\e90b";
}
.icon-cc-basic-resource:before {
  content: "\e90c";
}
.icon-cc-branch-company:before {
  content: "\e90d";
}
.icon-cc-branch-shop:before {
  content: "\e90e";
}
.icon-cc-broom:before {
  content: "\e90f";
}
.icon-cc-business:before {
  content: "\e910";
}
.icon-cc-cabinet:before {
  content: "\e911";
}
.icon-cc-camera:before {
  content: "\e912";
}
.icon-cc-cbd:before {
  content: "\e913";
}
.icon-cc-certificate:before {
  content: "\e914";
}
.icon-cc-classroom:before {
  content: "\e915";
}
.icon-cc-clear:before {
  content: "\e916";
}
.icon-cc-cloud-host:before {
  content: "\e917";
}
.icon-cc-cloud-to-uploa:before {
  content: "\e918";
}
.icon-cc-collect:before {
  content: "\e919";
}
.icon-cc-collection:before {
  content: "\e91a";
}
.icon-cc-columnar:before {
  content: "\e91b";
}
.icon-cc-compact:before {
  content: "\e91c";
}
.icon-cc-company:before {
  content: "\e91d";
}
.icon-cc-copy:before {
  content: "\e91e";
}
.icon-cc-cpu:before {
  content: "\e91f";
}
.icon-cc-create-business:before {
  content: "\e920";
}
.icon-cc-cube:before {
  content: "\e921";
}
.icon-cc-cube-entity:before {
  content: "\e922";
}
.icon-cc-curve:before {
  content: "\e923";
}
.icon-cc-database:before {
  content: "\e924";
}
.icon-cc-db2:before {
  content: "\e925";
}
.icon-cc-default:before {
  content: "\e926";
}
.icon-cc-default-class:before {
  content: "\e927";
}
.icon-cc-del:before {
  content: "\e928";
}
.icon-cc-department:before {
  content: "\e929";
}
.icon-cc-derivation:before {
  content: "\e92a";
}
.icon-cc-directory:before {
  content: "\e92b";
}
.icon-cc-disk:before {
  content: "\e92c";
}
.icon-cc-domain:before {
  content: "\e92d";
}
.icon-cc-edit:before {
  content: "\e92e";
}
.icon-cc-edit-shape:before {
  content: "\e92f";
}
.icon-cc-elastic-search:before {
  content: "\e930";
}
.icon-cc-empty:before {
  content: "\e931";
}
.icon-cc-engine-room:before {
  content: "\e932";
}
.icon-cc-equipment:before {
  content: "\e933";
}
.icon-cc-exclamation-tips:before {
  content: "\e934";
}
.icon-cc-factory:before {
  content: "\e935";
}
.icon-cc-failure:before {
  content: "\e936";
}
.icon-cc-firewall:before {
  content: "\e937";
}
.icon-cc-forward:before {
  content: "\e938";
}
.icon-cc-free-pool:before {
  content: "\e939";
}
.icon-cc-fullscreen:before {
  content: "\e93a";
}
.icon-cc-funnel:before {
  content: "\e93b";
}
.icon-cc-goback:before {
  content: "\e93c";
}
.icon-cc-group:before {
  content: "\e93d";
}
.icon-cc-hardware:before {
  content: "\e93e";
}
.icon-cc-headoffice:before {
  content: "\e93f";
}
.icon-cc-hide:before {
  content: "\e940";
}
.icon-cc-history:before {
  content: "\e941";
}
.icon-cc-history2:before {
  content: "\e942";
}
.icon-cc-home:before {
  content: "\e943";
}
.icon-cc-host:before {
  content: "\e944";
}
.icon-cc-host-breakdown:before {
  content: "\e945";
}
.icon-cc-host-free-pool:before {
  content: "\e946";
}
.icon-cc-icon-city:before {
  content: "\e947";
}
.icon-cc-idc:before {
  content: "\e948";
}
.icon-cc-iis:before {
  content: "\e949";
}
.icon-cc-import:before {
  content: "\e94a";
}
.icon-cc-influxdb:before {
  content: "\e94b";
}
.icon-cc-information:before {
  content: "\e94c";
}
.icon-cc-International:before {
  content: "\e94d";
}
.icon-cc-ip:before {
  content: "\e94e";
}
.icon-cc-kafka:before {
  content: "\e94f";
}
.icon-cc-key:before {
  content: "\e950";
}
.icon-cc-lang:before {
  content: "\e951";
}
.icon-cc-line:before {
  content: "\e952";
}
.icon-cc-link:before {
  content: "\e953";
}
.icon-cc-linux:before {
  content: "\e954";
}
.icon-cc-list:before {
  content: "\e955";
}
.icon-cc-lock:before {
  content: "\e956";
}
.icon-cc-log:before {
  content: "\e957";
}
.icon-cc-logout:before {
  content: "\e958";
}
.icon-cc-machine:before {
  content: "\e959";
}
.icon-cc-mail-server:before {
  content: "\e95a";
}
.icon-cc-mainboard:before {
  content: "\e95b";
}
.icon-cc-map:before {
  content: "\e95c";
}
.icon-cc-market:before {
  content: "\e95d";
}
.icon-cc-memory:before {
  content: "\e95e";
}
.icon-cc-middleware:before {
  content: "\e95f";
}
.icon-cc-minicomputer:before {
  content: "\e960";
}
.icon-cc-model:before {
  content: "\e961";
}
.icon-cc-module:before {
  content: "\e962";
}
.icon-cc-mongodb:before {
  content: "\e963";
}
.icon-cc-mysql:before {
  content: "\e964";
}
.icon-cc-nav-audit:before {
  content: "\e965";
}
.icon-cc-nav-authority:before {
  content: "\e966";
}
.icon-cc-nav-collection:before {
  content: "\e967";
}
.icon-cc-nav-detective:before {
  content: "\e968";
}
.icon-cc-nav-model:before {
  content: "\e969";
}
.icon-cc-nav-resource:before {
  content: "\e96a";
}
.icon-cc-nav-stick:before {
  content: "\e96b";
}
.icon-cc-nav-toggle:before {
  content: "\e96c";
}
.icon-cc-net-port:before {
  content: "\e96d";
}
.icon-cc-network-card:before {
  content: "\e96e";
}
.icon-cc-network-equipment:before {
  content: "\e96f";
}
.icon-cc-network-manage:before {
  content: "\e970";
}
.icon-cc-networks:before {
  content: "\e971";
}
.icon-cc-network-segment:before {
  content: "\e972";
}
.icon-cc-nginx:before {
  content: "\e973";
}
.icon-cc-no-authority:before {
  content: "\e974";
}
.icon-cc-node:before {
  content: "\e975";
}
.icon-cc-not-allowed:before {
  content: "\e976";
}
.icon-cc-operator:before {
  content: "\e977";
}
.icon-cc-oracle:before {
  content: "\e978";
}
.icon-cc-organization:before {
  content: "\e979";
}
.icon-cc-other:before {
  content: "\e97a";
}
.icon-cc-pie-chart:before {
  content: "\e97b";
}
.icon-cc-pin:before {
  content: "\e97c";
}
.icon-cc-plus:before {
  content: "\e97d";
}
.icon-cc-plus-circle:before {
  content: "\e97e";
}
.icon-cc-port:before {
  content: "\e97f";
}
.icon-cc-postgresql:before {
  content: "\e980";
}
.icon-cc-printer:before {
  content: "\e981";
}
.icon-cc-process:before {
  content: "\e982";
}
.icon-cc-program:before {
  content: "\e983";
}
.icon-cc-progress:before {
  content: "\e984";
}
.icon-cc-project:before {
  content: "\e985";
}
.icon-cc-push-configuration:before {
  content: "\e986";
}
.icon-cc-push-history:before {
  content: "\e987";
}
.icon-cc-question:before {
  content: "\e988";
}
.icon-cc-record:before {
  content: "\e989";
}
.icon-cc-rect-add:before {
  content: "\e98a";
}
.icon-cc-rect-sub:before {
  content: "\e98b";
}
.icon-cc-redis:before {
  content: "\e98c";
}
.icon-cc-repeater:before {
  content: "\e98d";
}
.icon-cc-report:before {
  content: "\e98e";
}
.icon-cc-required:before {
  content: "\e98f";
}
.icon-cc-resize-full:before {
  content: "\e990";
}
.icon-cc-resize-small:before {
  content: "\e991";
}
.icon-cc-resource:before {
  content: "\e992";
}
.icon-cc-resources:before {
  content: "\e993";
}
.icon-cc-round-plus:before {
  content: "\e994";
}
.icon-cc-router:before {
  content: "\e995";
}
.icon-cc-security:before {
  content: "\e996";
}
.icon-cc-security2:before {
  content: "\e997";
}
.icon-cc-senior:before {
  content: "\e998";
}
.icon-cc-server:before {
  content: "\e999";
}
.icon-cc-service:before {
  content: "\e99a";
}
.icon-cc-set:before {
  content: "\e99b";
}
.icon-cc-setting:before {
  content: "\e99c";
}
.icon-cc-shift:before {
  content: "\e99d";
}
.icon-cc-show:before {
  content: "\e99e";
}
.icon-cc-skin:before {
  content: "\e99f";
}
.icon-cc-skip:before {
  content: "\e9a0";
}
.icon-cc-sort:before {
  content: "\e9a1";
}
.icon-cc-sqlite:before {
  content: "\e9a2";
}
.icon-cc-sql-server:before {
  content: "\e9a3";
}
.icon-cc-square:before {
  content: "\e9a4";
}
.icon-cc-star:before {
  content: "\e9a5";
}
.icon-cc-statement:before {
  content: "\e9a6";
}
.icon-cc-stick:before {
  content: "\e9a7";
}
.icon-cc-storage:before {
  content: "\e9a8";
}
.icon-cc-subnet:before {
  content: "\e9a9";
}
.icon-cc-switch2:before {
  content: "\e9aa";
}
.icon-cc-thumbtack:before {
  content: "\e9ab";
}
.icon-cc-tips:before {
  content: "\e9ac";
}
.icon-cc-tips-close:before {
  content: "\e9ad";
}
.icon-cc-tomcat:before {
  content: "\e9ae";
}
.icon-cc-tree:before {
  content: "\e9af";
}
.icon-cc-triangle:before {
  content: "\e9b0";
}
.icon-cc-triangle-sider:before {
  content: "\e9b1";
}
.icon-cc-unix:before {
  content: "\e9b2";
}
.icon-cc-ups:before {
  content: "\e9b3";
}
.icon-cc-user:before {
  content: "\e9b4";
}
.icon-cc-virtual:before {
  content: "\e9b5";
}
.icon-cc-vmware:before {
  content: "\e9b6";
}
.icon-cc-vsphere:before {
  content: "\e9b7";
}
.icon-cc-weblogic:before {
  content: "\e9b8";
}
.icon-cc-win:before {
  content: "\e9b9";
}
.icon-cc-win7:before {
  content: "\e9ba";
}
.icon-cc-wireless:before {
  content: "\e9bb";
}
