$cmdbBorderColor: #c3cdd7; //边框色
$cmdbBorderFocusColor: #3c96ff;
$cmdbDefaultColor: #ffffff; //默认
$cmdbPrimaryColor: #f9f9f9; //主要
$cmdbFnMainColor: #bec6de; //文案主要颜色
$cmdbPrimaryHoverColor: #6b7baa; // 主要颜色
$cmdbMainBtnColor: #498fe0;
$cmdbTextColor: #737987;
$cmdbTableBorderColor: #dde4eb;
$cmdbDangerColor: #ff5656;
$cmdbBorderLightColor: #e7e9ef;