.admin-view {
    &.nav-layout {
        .nav-wrapper {
            background: #333437 !important;
        }
        .menu-list {
            .menu-item {
                &.active.is-link {
                    background-color: #18b48a;
                }
                &.is-open {
                    background-color: #28292c;
                }
            }
            .submenu-link {
                &:hover {
                    color: #fff;
                    background-color: #323336;
                }
                &.active {
                    background: #18b48a;
                }
            }
        }
    }
}
