.feature-tips {
    font-size: 12px;
    border: 1px solid rgba(163,197,253,1);
    background-color: rgba(240,248,255,1);
    padding: 8px 16px;
    margin-bottom: 20px;
    .icon-cc-exclamation-tips {
        color: #3a84ff;
        font-size: 16px;
        vertical-align: top;
        margin-right: 4px;
    }
    a {
        margin-left: 40px;
        color: #3a84ff;
        &:hover {
            text-decoration: underline;
        }
    }
}