.bk-select {
    display: inline-block;
    vertical-align: middle;
}

.bk-select-dropdown-content {
    white-space: nowrap;
}

.bk-sideslider {
    .bk-sideslider-wrapper {
        padding: 0;
    }
    .bk-sideslider-content {
        height: calc(100% - 60px);
        max-height: initial;
    }
}

.bk-date-picker-transfer {
    z-index: 2000 !important;
}

.bk-sideslider {
    z-index: 1001 !important;
}

.bk-dialog-no-padding {
    .bk-dialog-body {
        padding: 0;
    }
}

.bk-select-full-width {
    width: 100%;
}

.bk-dialog-no-tools {
    .bk-dialog-tool {
        display: none;
    }
}