.bk-select {
    display: inline-block;
    vertical-align: middle;
}

.bk-sideslider {
    .bk-sideslider-wrapper {
        padding: 0;
    }
    .bk-sideslider-content {
        height: calc(100% - 60px);
    }
}

.bk-date-picker-transfer {
    z-index: 2000 !important;
}

.bk-dialog-no-padding {
    .bk-dialog-body {
        padding: 0;
    }
}

.bk-dialog-no-tools {
    .bk-dialog-tool {
        display: none;
    }
}