@charset "utf-8";
@import "./conf.scss";
.bk-exception {
    text-align: center;
    width: 400px;
    margin: 50px auto 0;
    .exception-text{
        font-size: 20px;
        color: #979797;
        margin: 32px 0;
        font-weight: normal;
    }
}