@import "./conf.scss";

@font-face {
    font-family: 'bk-icons-linear';
    src: url('#{$fontPath}/icomoon.eot?gwzxfm');
    src: url('#{$fontPath}/icomoon.eot?gwzxfm');
    src: url('#{$fontPath}/icomoon.eot?gwzxfm#iefix') format('embedded-opentype'),
        url('#{$fontPath}/icomoon.ttf?gwzxfm') format('truetype'),
        url('#{$fontPath}/icomoon.woff?gwzxfm') format('woff'),
        url('#{$fontPath}/icomoon.svg?gwzxfm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa {
    font-family: FontAwesome !important;
}

.bk-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'bk-icons-linear' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-edit:before {
    content: "\e98b";
}
.icon-close:before {
    content: "\e9b7";
}
.icon-plus:before {
    content: "\e97c";
}
.icon-block-shape:before {
    content: "\e9cf";
}
.icon-docker:before {
    content: "\e900";
}
.icon-execute:before {
    content: "\e901";
}
.icon-monitors:before {
    content: "\e902";
}
.icon-monitors-cog:before {
    content: "\e903";
}
.icon-panel:before {
    content: "\e904";
}
.icon-panel-permission:before {
    content: "\e905";
}
.icon-panels:before {
    content: "\e906";
}
.icon-panel-shape:before {
    content: "\e907";
}
.icon-project:before {
    content: "\e908";
}
.icon-rtx:before {
    content: "\e909";
}
.icon-script-file:before {
    content: "\e90a";
}
.icon-script-files:before {
    content: "\e90b";
}
.icon-work-manage:before {
    content: "\e90c";
}
.icon-apps-shape:before {
    content: "\e90d";
}
.icon-arrows-down-circle-shape:before {
    content: "\e90e";
}
.icon-arrows-down-shape:before {
    content: "\e90f";
}
.icon-arrows-left-circle-shape:before {
    content: "\e910";
}
.icon-arrows-left-shape:before {
    content: "\e911";
}
.icon-arrows-m-down-shape:before {
    content: "\e912";
}
.icon-arrows-m-left-shape:before {
    content: "\e913";
}
.icon-arrows-m-right-shape:before {
    content: "\e914";
}
.icon-arrows-m-up-shape:before {
    content: "\e915";
}
.icon-arrows-right-circle-shape:before {
    content: "\e916";
}
.icon-arrows-right-shape:before {
    content: "\e917";
}
.icon-arrows-up-circle-shape:before {
    content: "\e918";
}
.icon-arrows-up-shape:before {
    content: "\e919";
}
.icon-back-shape:before {
    content: "\e91a";
}
.icon-calendar-shape:before {
    content: "\e91b";
}
.icon-check-circle-shape:before {
    content: "\e91c";
}
.icon-circle-shape:before {
    content: "\e91d";
}
.icon-clipboard-shape:before {
    content: "\e91e";
}
.icon-clock-shape:before {
    content: "\e91f";
}
.icon-close3-shape:before {
    content: "\e920";
}
.icon-close-circle-shape:before {
    content: "\e921";
}
.icon-cog-shape:before {
    content: "\e922";
}
.icon-cry-shape:before {
    content: "\e923";
}
.icon-dashboard-2-shape:before {
    content: "\e924";
}
.icon-dashboard-shape:before {
    content: "\e925";
}
.icon-data2-shape:before {
    content: "\e926";
}
.icon-data-shape:before {
    content: "\e927";
}
.icon-dialogue-empty-shape:before {
    content: "\e928";
}
.icon-dialogue-shape:before {
    content: "\e929";
}
.icon-dispirited-shape:before {
    content: "\e92a";
}
.icon-down-shape:before {
    content: "\e92b";
}
.icon-email-shape:before {
    content: "\e92c";
}
.icon-empty-shape:before {
    content: "\e92d";
}
.icon-exclamation-circle-shape:before {
    content: "\e92e";
}
.icon-exclamation-triangle-shape:before {
    content: "\e92f";
}
.icon-eye-shape:before {
    content: "\e930";
}
.icon-eye-slash-shape:before {
    content: "\e931";
}
.icon-file-plus-shape:before {
    content: "\e932";
}
.icon-file-shape:before {
    content: "\e933";
}
.icon-folder-open-shape:before {
    content: "\e934";
}
.icon-folder-plus-shape:before {
    content: "\e935";
}
.icon-folder-shape:before {
    content: "\e936";
}
.icon-heart-shape:before {
    content: "\e937";
}
.icon-home-shape:before {
    content: "\e938";
}
.icon-id-shape:before {
    content: "\e939";
}
.icon-image-shape:before {
    content: "\e93a";
}
.icon-info-circle-shape:before {
    content: "\e93b";
}
.icon-left-shape:before {
    content: "\e93c";
}
.icon-lock-shape:before {
    content: "\e93d";
}
.icon-minus-circle-shape:before {
    content: "\e93e";
}
.icon-minus-square-shape:before {
    content: "\e93f";
}
.icon-mobile-shape:before {
    content: "\e940";
}
.icon-next-shape:before {
    content: "\e941";
}
.icon-order-shape:before {
    content: "\e942";
}
.icon-password-shape:before {
    content: "\e943";
}
.icon-pc-shape:before {
    content: "\e944";
}
.icon-pie-chart-shape:before {
    content: "\e945";
}
.icon-pipeline-shape:before {
    content: "\e946";
}
.icon-play-circle-shape:before {
    content: "\e947";
}
.icon-play-shape:before {
    content: "\e948";
}
.icon-plus-circle-shape:before {
    content: "\e949";
}
.icon-plus-square-shape:before {
    content: "\e94a";
}
.icon-qq-shape:before {
    content: "\e94b";
}
.icon-question-circle-shape:before {
    content: "\e94c";
}
.icon-right-shape:before {
    content: "\e94d";
}
.icon-save-shape:before {
    content: "\e94e";
}
.icon-sina-shape:before {
    content: "\e94f";
}
.icon-sitemap-shape:before {
    content: "\e950";
}
.icon-smile-shape:before {
    content: "\e951";
}
.icon-star-shape:before {
    content: "\e952";
}
.icon-stop-shape:before {
    content: "\e953";
}
.icon-tree-application-shape:before {
    content: "\e954";
}
.icon-tree-group-shape:before {
    content: "\e955";
}
.icon-tree-module-shape:before {
    content: "\e956";
}
.icon-tree-process-shape:before {
    content: "\e957";
}
.icon-unlock-shape:before {
    content: "\e958";
}
.icon-up-shape:before {
    content: "\e959";
}
.icon-user-shape:before {
    content: "\e95a";
}
.icon-weixin-shape:before {
    content: "\e95b";
}
.icon-more:before {
    content: "\e95c";
}
.icon-circle-2-1:before {
    content: "\e95d";
}
.icon-circle-4-1:before {
    content: "\e95e";
}
.icon-angle-double-down:before {
    content: "\e95f";
}
.icon-angle-double-left:before {
    content: "\e960";
}
.icon-angle-double-right:before {
    content: "\e961";
}
.icon-angle-double-up:before {
    content: "\e962";
}
.icon-angle-down:before {
    content: "\e963";
}
.icon-angle-left:before {
    content: "\e964";
}
.icon-angle-right:before {
    content: "\e965";
}
.icon-angle-up:before {
    content: "\e966";
}
.icon-apps:before {
    content: "\e967";
}
.icon-area-chart:before {
    content: "\e968";
}
.icon-arrows-down:before {
    content: "\e969";
}
.icon-arrows-down-circle:before {
    content: "\e96a";
}
.icon-arrows-left:before {
    content: "\e96b";
}
.icon-arrows-left-circle:before {
    content: "\e96c";
}
.icon-arrows-right:before {
    content: "\e96d";
}
.icon-arrows-right-circle:before {
    content: "\e96e";
}
.icon-arrows-up:before {
    content: "\e96f";
}
.icon-arrows-up-circle:before {
    content: "\e970";
}
.icon-back:before {
    content: "\e971";
}
.icon-back2:before {
    content: "\e972";
}
.icon-bar-chart:before {
    content: "\e973";
}
.icon-bk:before {
    content: "\e974";
}
.icon-calendar:before {
    content: "\e975";
}
.icon-chain:before {
    content: "\e976";
}
.icon-check-1:before {
    content: "\e977";
}
.icon-check-circle:before {
    content: "\e978";
}
.icon-circle:before {
    content: "\e979";
}
.icon-clipboard:before {
    content: "\e97a";
}
.icon-clock:before {
    content: "\e97b";
}
.icon-close-circle:before {
    content: "\e97d";
}
.icon-delete:before {
    content: "\e97e";
}
.icon-code:before {
    content: "\e97f";
}
.icon-cog:before {
    content: "\e980";
}
.icon-cry:before {
    content: "\e981";
}
.icon-dashboard:before {
    content: "\e982";
}
.icon-dashboard-2:before {
    content: "\e983";
}
.icon-data:before {
    content: "\e984";
}
.icon-data2:before {
    content: "\e985";
}
.icon-dedent:before {
    content: "\e986";
}
.icon-dialogue:before {
    content: "\e987";
}
.icon-dialogue-empty:before {
    content: "\e988";
}
.icon-dispirited:before {
    content: "\e989";
}
.icon-download:before {
    content: "\e98a";
}
.icon-edit2:before {
    content: "\e98c";
}
.icon-ellipsis:before {
    content: "\e98d";
}
.icon-email:before {
    content: "\e98e";
}
.icon-empty:before {
    content: "\e98f";
}
.icon-end:before {
    content: "\e990";
}
.icon-exclamation:before {
    content: "\e991";
}
.icon-exclamation-circle:before {
    content: "\e992";
}
.icon-exclamation-triangle:before {
    content: "\e993";
}
.icon-eye:before {
    content: "\e994";
}
.icon-eye-slash:before {
    content: "\e995";
}
.icon-file:before {
    content: "\e996";
}
.icon-file-plus:before {
    content: "\e997";
}
.icon-folder:before {
    content: "\e998";
}
.icon-folder-open:before {
    content: "\e999";
}
.icon-folder-plus:before {
    content: "\e99a";
}
.icon-full-screen:before {
    content: "\e99b";
}
.icon-heart:before {
    content: "\e99c";
}
.icon-hide:before {
    content: "\e99d";
}
.icon-home:before {
    content: "\e99e";
}
.icon-id:before {
    content: "\e99f";
}
.icon-image:before {
    content: "\e9a0";
}
.icon-indent:before {
    content: "\e9a1";
}
.icon-info:before {
    content: "\e9a2";
}
.icon-info-circle:before {
    content: "\e9a3";
}
.icon-key:before {
    content: "\e9a4";
}
.icon-line-chart:before {
    content: "\e9a5";
}
.icon-list:before {
    content: "\e9a6";
}
.icon-lock:before {
    content: "\e9a7";
}
.icon-minus:before {
    content: "\e9a8";
}
.icon-minus-circle:before {
    content: "\e9a9";
}
.icon-minus-square:before {
    content: "\e9aa";
}
.icon-mobile:before {
    content: "\e9ab";
}
.icon-move:before {
    content: "\e9ac";
}
.icon-next:before {
    content: "\e9ad";
}
.icon-order:before {
    content: "\e9ae";
}
.icon-password:before {
    content: "\e9af";
}
.icon-pause:before {
    content: "\e9b0";
}
.icon-pc:before {
    content: "\e9b1";
}
.icon-pie-chart:before {
    content: "\e9b2";
}
.icon-pipeline:before {
    content: "\e9b3";
}
.icon-play:before {
    content: "\e9b4";
}
.icon-play2:before {
    content: "\e9b5";
}
.icon-play3:before {
    content: "\e9b6";
}
.icon-plus-circle:before {
    content: "\e9b8";
}
.icon-plus-square:before {
    content: "\e9b9";
}
.icon-qq:before {
    content: "\e9ba";
}
.icon-question:before {
    content: "\e9bb";
}
.icon-question-circle:before {
    content: "\e9bc";
}
.icon-refresh:before {
    content: "\e9bd";
}
.icon-save:before {
    content: "\e9be";
}
.icon-search:before {
    content: "\e9bf";
}
.icon-sina:before {
    content: "\e9c0";
}
.icon-sitemap:before {
    content: "\e9c1";
}
.icon-smile:before {
    content: "\e9c2";
}
.icon-sort:before {
    content: "\e9c3";
}
.icon-star:before {
    content: "\e9c4";
}
.icon-stop:before {
    content: "\e9c5";
}
.icon-tree-application:before {
    content: "\e9c6";
}
.icon-tree-Group:before {
    content: "\e9c7";
}
.icon-tree-module:before {
    content: "\e9c8";
}
.icon-tree-process:before {
    content: "\e9c9";
}
.icon-un-full-screen:before {
    content: "\e9ca";
}
.icon-unlock:before {
    content: "\e9cb";
}
.icon-upload:before {
    content: "\e9cc";
}
.icon-user:before {
    content: "\e9cd";
}
.icon-weixin:before {
    content: "\e9ce";
}
